name: On push
on:
  workflow_dispatch:
  push:
    branches:
      - '*'
jobs:
  cnb:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Sync to CNB Repository
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:${{ github.workspace }} \
            -w ${{ github.workspace }} \
            -e PLUGIN_TARGET_URL="https://cnb.cool/${{ github.repository }}" \
            -e PLUGIN_AUTH_TYPE="https" \
            -e PLUGIN_USERNAME="cnb" \
            -e PLUGIN_PASSWORD=${{ secrets.CNB_SECRET }} \
            -e PLUGIN_FORCE="true" \
            -e PLUGIN_PUSH_TAGS="false" \
            tencentcom/git-sync